body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.hexPath path{
  stroke:white;
  stroke-width:1px;
  transition: opacity .5s;
}
.hexPath text{
  transition: opacity .5s;
}
.hexPath:hover path{
  opacity: 0.1;
}
.hexPath text{
  opacity: 0;
  cursor:default;
}
.hexPath:hover text{
  opacity: 1;
}
text{
  font-size: 12px;
}
